.checkbox {
    position: relative;
    padding-left: 35px;
    font-size: 24px;
    margin: 16px;
    display: inline-block;
}

input[type="checkbox"] {
    visibility: hidden;
    width: 0;
    height: 0;
}

.fake-checkbox {
    width: 25px;
    height: 25px;
    background-color: #d3d3d3;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
}

.checkbox input:checked+.fake-checkbox {
    background-color: #006400;
}