.page {
    margin: 0;
}

.main {
    margin: 32px;
    margin-top: 0;
}

input,
textarea,
select,
button {
    margin: 8px;
}

.languages {
    display: flex;
}

input[type="color"] {
    box-sizing: border-box;
}