.main {
    margin: 32px;
}

.form-box {
    margin: 8px;
}


/* .languages {
    display: flex;
} */

div.languages input {
    display: inline-block;
}

input[type="color"] {
    box-sizing: border-box;
}